.new-task-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 2rem;

  .quota-viewer {
    border: 1px solid var(--color-heading);
    padding: 0.7rem 2rem;
    border-radius: 30px;
    color: var(--color-heading);
  }

  .custom-button {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .home {
    .new-task-container {
      width: 100%;

      .quota-viewer {
        padding: 0.7rem 1rem;
        margin-right: 1rem;
      }
    }

    .table {
      tr :nth-child(4),
      tr :nth-child(3) {
        display: none;
      }
    }
  }
}
