.input-feild-container {
  width: 100%;

  margin: 4rem auto;
  .input-feild {
    margin: 2rem auto;
    display: block;
    width: 100%;
    max-width: 450px;
    // height: 5rem;
    border: 0;
    border-radius: 30px;
    background: var(--color-primary);
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    color: var(--color-heading);

    &::placeholder {
      color: var(--color-body);
    }

    &:focus {
      outline: 2px solid var(--color-heading);
    }
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-heading);
  box-shadow: 0 0 0px 1000px var(--color-primary) inset;
}
