@keyframes errorAnimation {
  0% {
    transform: translate(-2rem);
  }
  50% {
    transform: translate(2rem);
  }
  100% {
    transform: translate(0);
  }
}

.input-feild-container {
  width: 100%;

  margin: 4rem auto;
  .input-feild {
    margin: 2rem auto;
    display: block;
    width: 100%;
    max-width: 450px;
    // height: 5rem;
    border: 0;
    border-radius: 30px;
    background: var(--color-primary);
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    color: var(--color-heading);

    &::placeholder {
      color: var(--color-body);
    }

    &:focus {
      outline: 2px solid var(--color-heading);
    }
  }

  .input-error-messege {
    border: 1px solid var(--color-body);
    padding: 1rem;
    font-size: 1.4rem;
    animation-name: errorAnimation;
    animation-duration: 0.8s;
    transition: transform 0.15s ease-in;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-heading);
  box-shadow: 0 0 0px 1000px var(--color-primary) inset;
}
