.root-component {
  position: relative;
  background-color: var(--color-primary);
  padding: 0;
  height: min(100% - 2rem, 70%);
  overflow-y: scroll;
  width: 100%;

  .page-container {
    padding: 0 3rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .root-component {
    width: 90%;

    .page-container {
      padding: 0 0.5rem;
    }
  }
}
