*,
*::before,
*::after {
  background-color: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  --color-background: #ffffff;
  --color-heading: #1e202a;
  --color-body: #63687e;
  --color-background-top: #f5f7ff;
  --color-avatar-border: #1e202a;
  --color-avatar-bg: rgba(30, 32, 42, 0.2);
  --content-width: 10rem;
  --color-primary: #f0f2fa;

  /* width: 100vw; */
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  background: var(--color-background);
  color: var(--color-body);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.dark {
  --color-background-top: #1f212e;
  --color-avatar-border: #ffffff;
  --color-avatar-bg: rgba(255, 255, 255, 0.2);
  --color-background: #1e202a;
  --color-heading: #ffffff;
  --color-body: #8b97c6;
  --color-primary: #252a41;
}

h1,
h2,
h3,
h4 {
  color: var(--color-heading);
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
}

.arrow-link {
  text-align: start;
  color: var(--color-heading);
  font-size: 1.8rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.arrow-link::after {
  content: "-->";
  margin-left: 5px;
  transition: 0.15s;
}

.arrow-link:hover::after {
  margin-left: 10px;
}

.important-icon {
  color: var(--color-heading);
}

.event-title {
  margin: 1.5rem 0;
  font-weight: bold;
  text-transform: capitalize;
}

.btn {
  font-size: 1.6rem;
}

.important-icon {
  cursor: pointer;
}

/* temp */
.theme-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
